@font-face {
  font-family: 'Butler';
  src: url('../fonts/butler/Butler.woff2') format('woff2'),
       url('../fonts/butler/Butler.woff') format('woff'),
       url('../fonts/butler/Butler.ttf') format('truetype');
       font-weight: 400;
       font-style: normal;
}

@font-face {
  font-family: 'Butler';
  src: url('../fonts/butler/Butler.woff2') format('woff2'),
       url('../fonts/butler/Butler.woff') format('woff'),
       url('../fonts/butler/Butler.ttf') format('truetype');
       font-weight: 400;
       font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero-section {
  background-image: url('../image/hero-background.png');
  width: 1065px;
  height: 630px;
  padding-top: 137px;
  margin: 0 auto;
}

.hero-text-wrap {
  background-color: white;
  width: 557px;
  margin: 0 auto;
  padding-top: 130px;
  padding-bottom: 90px;
}

.hero-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 87px;
  line-height: 104px;
  text-align: center;
  margin-bottom: 18px;
}

.hero-description {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #000000;
}